.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 16px;
}

.all-products::after {
  content: "";
  flex: auto;
}

.all-products__header {
  width: 100%;
  margin-bottom: 20px;
  gap: 8px;
}

.all-products__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--page-products-titleColor);
}

.all-products__subtitle {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: var(--page-products-titleColor);
}

.all-products__remove-filter {
  font-size: 16px;
  font-weight: 700;
  color: var(--page-products-linkColor);
  cursor: pointer;
}

.hide-filter {
  display: none;
}

.all-products .product__image {
  width: 176px;
  height: 174px;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-products .product__title {
  font-size: 14px;
  font-weight: 500;
  color: var(--page-products-titleColor);
}

.all-products .product__price {
  font-size: 16px;
  font-weight: 700;
  color: var(--page-products-priceColor);
}

.all-products .product__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--page-products-linkColor);
}

/* mobile */
@media (max-width: 768px) {
  .all-products .product__item {
    margin-bottom: 16px;
  }

  .all-products {
    justify-content: none;
    gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .all-products__title {
    font-size: 14px;
    font-weight: 500;
  }

  .all-products__subtitle {
    font-size: 14px;
    font-weight: 500;
  }

  .all-products .product__image {
    width: 140px;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .all-products {
    justify-content: none;
    gap: 8px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .all-products .product__image {
    width: 164px;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
