.product__item {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.product__image {
  width: 176px;
  height: 174px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  color: var(--page-products-titleColor);
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  color: var(--page-products-priceColor);
}

.product__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  color: var(--page-products-linkColor);
}

.products__item .all-link {
  font-size: 16px;
  font-weight: 700;
  color: var(--page-products-linkColor);
}

/* mobile */
@media (max-width: 768px) {
  .product__item {
    gap: 8px;
    width: calc(50% - 16px);
  }
  .product__image {
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .product__item {
    gap: 8px;
    width: auto;
  }
  .product__image {
    width: 164px;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
